<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Opportunities</title>
        <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">
        <link rel="stylesheet" href="./assets/css/normalize.css">
        <link rel="stylesheet" href="./assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/font.css">
        <link rel="stylesheet" href="./assets/css/header.css">
        <link rel="stylesheet" href="./assets/css/navbar.css">
        <link rel="stylesheet" href="./assets/css/semiFooter.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
        <link rel="stylesheet" href="./assets/css/jobOpportunities.css">
        <script src="./assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="./assets/js/jquery/jquery-3.6.4.min.js"></script>
        <script src="./assets/js/navbar.js"></script>
    </head>
    <body>
        <!-- Header -->
        <header class="container-fluid sticky-top">
            <div class="container d-flex justify-content-between">
                <div class="text-white py-3 d-flex align-items-center gap-3">
                    <img class="websiteLogo" src="./assets/images/oc_logo.png" alt="OC Logo">
                    <section class="text-center">
                        <h3 class="m-0">OSMEÑA COLLEGES</h3>
                        <p class="m-0">Aspire...Achieve...Advance!</p>
                    </section>
                </div>
                <div class="headerSearchDirectory mb-3">
                    <div class="headerSearchDirectoryInner pt-3 px-3 flex-grow text-center">
                        <p>Search the Directory</p>
                    </div>
                </div>
                <div class="d-flex pb-3 flex-column justify-content-between">
                    <div class="align-self-start d-flex justify-content-between gap-3">
                        <div class="visitor">
                            <div class="visitorInner px-5">Visitor</div>
                        </div>
                        <div class="alumna">
                            <div class="alumnaInner px-5">Alumna</div>
                        </div>
                    </div>
                    <form class="d-flex align-self-end">
                        <input class="headerSearchBar form-control me-2" type="search" placeholder="Search by title, skill or company" aria-label="Search">
                        <i class="headerSearchIcon fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
            </div>
        </header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light bg-transparent container-fluid py-4">
            <div class="container">
                <form class="d-flex d-lg-none">
                    <input class="searchBar form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="searchButton btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarBasic">
                    <ul class="navbar-nav mx-auto mb-2 mb-xl-0 ">
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="/my_network">My Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="/job_opportunities">Job Opportunities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="/forums">Forums</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Schools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="../AlumniManagementSystem/profile_page.php">
                                <img class="userProfilePicture" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User Profile Picture">
                                Me
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="container">
            <div class="container-fluid px-0 d-flex gap-3">
                <div class="filterJobSection mainContentItem p-2">
                    <div class="filterJobSectionContent d-flex flex-column p-3">
                        <h6 class="text-center text-white">JOB CATEGORY</h6>
                        <form>
                            <input class="form-control text-center mb-3" type="search" name="selectCategory" placeholder="Select Category">
                        </form>
                        <h6 class="text-center text-white">EMPLOYMENT TYPE</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="freelance" id="freelance">
                            <label class="form-check-label text-white" for="freelance">Freelance</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="partTime" id="partTime">
                            <label class="form-check-label text-white" for="partTime">Part-Time</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="fullTime" id="fullTime">
                            <label class="form-check-label text-white" for="fullTime">Full-Time</label>
                        </div>
                        <button class="btn refineSearchResultsButton mt-3" type="button">REFINE SEARCH RESULTS</button>
                        <hr class="text-white">
                        <section class="text-center text-white">
                            <p class="m-0">Still haven't found</p>
                            <p class="m-0">"THE PERFECT JOB"?</p>
                            <p class="m-0 small">Start receiving job alerts in your inbox daily!</p>
                            <button class="subscribeNowButton btn mb-3 mt-3 w-100" type="button">SUBSCRIBE NOW (IT'S FREE)</button>
                            <p class="m-0"><span>10213</span> jobs posted the past 30 days</p>
                        </section>
                    </div>
                </div>
                <div class="jobPostedSection mainContentItem">
                    <div class="jobCategory">
                        <h5 class="jobCategoryTitle">Software Development / Programming Job Listings</h5>
                        <p>Displaying <span class="currentJobCounts"><strong>30</strong></span> out of <span class="totalJobCounts"><strong>1,000+</strong></span> jobs</p>
                    </div>
                    <div class="jobPosted p-3 mb-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <section>
                                <h6 class="jobDescriptionTitle mb-0">Full Stack Developer C# and Angular</h6>
                                <p class="jobAuthorName">Jegan Gomangalam &bull; Posted on <span class="postedDate">March 09, 2023</span></p>
                            </section>
                            <p class="jobType text-white rounded px-3">FULL-TIME</p>
                        </div>
                        <div class="jobDescription">
                            <p class="m-0">USD 1,300 PER MONTH</p>
                            <p class="jobDesc">
                                Cinema360.org (niche product of Aditri Tech World) is looking for a full-stack developer responsilbe for the on-going development and advancement of our eCommerce and web maintenance of e-commerce websites. Integration of lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rerum quae in maxime itaque, necessitatibus, accusamus saepe hic corporis eius ea illo molestias incidunt beatae facilis. Ipsa totam aliquam officiis. <span class="seeMore">See More</span>
                            </p>
                        </div>
                    </div>
                    <div class="jobPosted p-3 mb-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <section>
                                <h6 class="jobDescriptionTitle mb-0">AI Wizard-code Wizard-Prompt Engineer</h6>
                                <p class="jobAuthorName">Robert &bull; Posted on <span class="postedDate">Mar 09, 2023</span></p>
                            </section>
                            <p class="jobType text-white rounded px-3">FULL-TIME</p>
                        </div>
                        <div class="jobDescription">
                            <p class="m-0">650-800/mo</p>
                            <p class="jobDesc">
                                We are seeking an experience AI professional to join our team as an AI Wizard. The ideal candidate should have a deep understanding of AI and machine learning, with a proven track record of lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rerum quae in maxime itaque, necessitatibus, accusamus saepe hic corporis eius ea illo molestias incidunt beatae facilis. Ipsa totam aliquam officiis. <span class="seeMore">See More</span>
                            </p>
                        </div>
                    </div>
                    <div class="jobPosted p-3 mb-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <section>
                                <h6 class="jobDescriptionTitle mb-0">Full Stack Developer C# and Angular</h6>
                                <p class="jobAuthorName">Jegan Gomangalam &bull; Posted on <span class="postedDate">March 09, 2023</span></p>
                            </section>
                            <p class="jobType text-white rounded px-3">FULL-TIME</p>
                        </div>
                        <div class="jobDescription">
                            <p class="m-0">USD 1,300 PER MONTH</p>
                            <p class="jobDesc">
                                Cinema360.org (niche product of Aditri Tech World) is looking for a full-stack developer responsilbe for the on-going development and advancement of our eCommerce and web maintenance of e-commerce websites. Integration of lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rerum quae in maxime itaque, necessitatibus, accusamus saepe hic corporis eius ea illo molestias incidunt beatae facilis. Ipsa totam aliquam officiis. <span class="seeMore">See More</span>
                            </p>
                        </div>
                    </div>
                    <div class="jobPosted p-3 mb-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <section>
                                <h6 class="jobDescriptionTitle mb-0">AI Wizard-code Wizard-Prompt Engineer</h6>
                                <p class="jobAuthorName">Robert &bull; Posted on <span class="postedDate">Mar 09, 2023</span></p>
                            </section>
                            <p class="jobType text-white rounded px-3">FULL-TIME</p>
                        </div>
                        <div class="jobDescription">
                            <p class="m-0">650-800/mo</p>
                            <p class="jobDesc">
                                We are seeking an experience AI professional to join our team as an AI Wizard. The ideal candidate should have a deep understanding of AI and machine learning, with a proven track record of lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rerum quae in maxime itaque, necessitatibus, accusamus saepe hic corporis eius ea illo molestias incidunt beatae facilis. Ipsa totam aliquam officiis. <span class="seeMore">See More</span>
                            </p>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                            </li>
                            <li class="page-item"><a class="page-link paginationActive" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="">Last</a></li>
                        </ul>
                    </nav>
                </div>
            </div>  
        </div>

        <!-- Semi Footer -->
        <div class="semiFooter container-fluid">
            <div class="container d-flex gap-3 justify-content-between pt-5 pb-3">
                <div class="alumniNews">
                    <h6 class="semiFooterTitle">ALUMNI NEWS</h6>
                    <ul class="semiFooterLists">
                        <li>
                            <a href="">News from the alumni</a>
                        </li>
                        <li>
                            <a href="">News from the school</a>
                        </li>
                        <li>
                            <a href="">Submit News</a>
                        </li>
                    </ul>
                </div>
                <div class="getInvolved">
                    <h6 class="semiFooterTitle">Get Involved</h6>
                    <ul class="semiFooterLists">
                        <li>
                            <a href="">Online Subscription</a>
                        </li>
                        <li>
                            <a href="">Become a member</a>
                        </li>
                        <li>
                            <a href="">Become a sponsor</a>
                        </li>
                    </ul>
                </div>
                <div class="peopleAndNetwork">
                    <h6 class="semiFooterTitle">People & Network</h6>
                    <ul class="semiFooterLists">
                        <li>
                            <a href="">Alumni Directory</a>
                        </li>
                        <li>
                            <a href="">Clubs and Groups</a>
                        </li>
                        <li>
                            <a href="">Ambassadors</a>
                        </li>
                    </ul>
                </div>
                <div class="peopleAndAboutUs">
                    <h6 class="semiFooterTitle">People & About Us</h6>
                    <ul class="semiFooterLists">
                        <li>
                            <a href="">Mission</a>
                        </li>
                        <li>
                            <a href="">History</a>
                        </li>
                        <li>
                            <a href="">Annual report</a>
                        </li>
                        <li>
                            <a href="">Board of Directors</a>
                        </li>
                        <li>
                            <a href="">Office Team</a>
                        </li>
                        <li>
                            <a href="">Impact on Business & Society</a>
                        </li>
                        <li>
                            <a href="">Congress</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="footer container-fluid text-white py-5">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <div class="footerSocialMediaSection d-flex gap-4">
                    <a class="footerSocMed" href="www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                    <a class="footerSocMed" href="www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
                    <a class="footerSocMed" href="wwww.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
                    <a class="footerSocMed" href="www.youtube.com"><i class="fa-brands fa-square-youtube"></i></a>
                </div>
                <p class="footerAllRightsReserved text-center mb-0">
                    &copy; 2023 All rights reserved. The Osmeña Colleges is an equal opportunity educator and employer. Privacy Statement Report Web Disability-Related Issue
                </p>
            </div>
        </div>
    </footer>
</html>